<% include ../partials/header.ejs%>

<h1>Nova Pessoa</h1>
<p><a type="button" class="btn btn-default" href="/pessoas">Voltar à lista</a></p>
 

<form method="POST"> 
    <div class="form-group">
        <label for="nome" class=" control-label">Nome</label>
        <div >
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
        </div>
    </div>
    <div class="form-group">
        <label for="nascimento" class=" control-label">Nascimento</label>
        <div >
            <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="YYYY/MM/DD">
        </div> 
    </div>  
    <div class="form-group">
        <label for="cargo" class=" control-label">Cargo</label>
        <div >
            <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo">
        </div> 
    </div> 
    <div class="form-group">
        <div>  
            <button type="submit" class="btn btn-default">Salvar</button>
        </div>
    </div>

</form>
<% include ../partials/footer.ejs%>